html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    align-items: center;
    font-family:'Nunito Sans', sans-serif;
    background: #2c2c2c;
    color: #fff;
}

/* Navbar ============================================== */
nav {
    padding: 10px 0;
    display: inline-block;
    width: 100%;
    box-shadow: 0 1px 10px #111;
}

.nav-container {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.nav-container > .logo {
    flex: 3;
    margin: 0;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 30px;
}

.nav-container > ul {
    margin: 0;
    flex: 1;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.nav-container > ul > li > a {
    transition: .2s;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.nav-container > ul > li > a:hover {
    background: rgb(101, 103, 241);
    box-shadow: 0 0 5px #6567f1; 
}

/* Body =============================================== */
section {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.description-container {
    position: relative;
    flex: 1;
}

.description-wrapper > .body-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding-left: 90px;
    padding-right: 130px;
}

.image-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.description-wrapper > .title-container {
    flex: 2;
    padding: 0 90px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 80px;
}

.description-wrapper .title {
    font-size: 50px;
    padding-top: 10px;
    position: relative;
}

.description-wrapper > .body-container > span {
    font-size: 20px;
    margin-bottom: 40px;
}

.main-section{
    height: 80%;
}

/* Main Section Image */
.main-section .main-image-container {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.main-section .main-image-container > svg {
    fill: #face87;
    width: 40%;
    height: 60%;
}

.main-section .main-image-container > .spark {
    position: absolute;
    fill: none;
    width: 20px;
    height: 20px;
    fill: #face87;
}

.main-section .main-image-container > .spark > path {
    stroke: inherit;
}

.main-section .main-image-container > #spark-1 {
    top: 30%;
    left: 35%;
}

.main-section .main-image-container > #spark-2 {
    bottom: 30%;
    right: 35%;
}

.main-section .secondary-image-container {
    flex: 3;
    position: relative;
}

.main-section .secondary-image-container > .spark {
    position: absolute;
    fill: none;
    width: 20px;
    height: 20px;
}

.main-section .secondary-image-container > .spark > path {
    stroke:inherit;
}

.main-section .secondary-image-container #donut {
    fill: #da87a7;
    position: absolute;
    left: 30%;
}

.main-section .secondary-image-container > #spark-donut {
    fill: #da87a7;
    left: 25%;
}


.main-section .secondary-image-container #cookie {
    fill: #8a5241;
    position: absolute;
    right: 30%;
    top: 30%;
}

.main-section .secondary-image-container > #spark-cookie {
    fill: #8a5241;
    right: 25%;
    top: 30%;
}

.main-section .secondary-image-container #cupcake {
    fill: #ffc7dc;
    position: absolute;
    left: 35%;
    top: 55%;
}

.main-section .secondary-image-container > #spark-cupcake {
    fill: #ffc7dc;
    left: 32%;
    top: 55%;
}

/* Main Section Description */
.main-section .description-wrapper .title::after {
    content: "";
    width: 102%;
    height: 1px;
    background: #6567f1;
    box-shadow: 0 0 5px #6567f1; 
    position: absolute;
    bottom: 0;
    left: 0;
}

/* About Section */
.about-section {
    background: #fff;
    color: #262626;
    /* z-index: 10; */
    box-shadow: 0 0 14px 4px rgb(0, 0, 0);
}




/* FAQ Section */
.faq-section {

}

/* 
.main-section > .description-container .title {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    padding: 5px 10px;
    border-bottom: 2px solid white;
}

.main-section > .description-container .body-container {
    flex: 1;
} */











/* 

.about-section {
    
}

.midBar2 {
    background: palevioletred;
}

.botBar {
    background: peru;
}

.image-container {
    flex: 1;
    max-width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-container > img {
    width: 50%;
}

.texto {
    font-family:'Nunito Sans', sans-serif;
    font-size: 22px;
    flex: 1;
    max-width: 30%;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer ======================================================== */
footer {
    height: 10%;
    display: flex;
    justify-content: center;
    background: #262626;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    align-items: center;
} 